# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.suo
*.db
*.filters
*.log
*.pdb
*.ilk
*.idb


#other 

*.tlog
*.log
*.vcxproj
*.user
*.recipe

Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Crashes/UE4CC-Windows-34E59658421D1326BF5CC596049D91CC_0000/UE4Minidump.dmp
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Crashes/UE4CC-Windows-34E59658421D1326BF5CC596049D91CC_0000/CrashReportClient.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Crashes/UE4CC-Windows-34E59658421D1326BF5CC596049D91CC_0000/CrashContext.runtime-xml
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/WorldState/967283859.json
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/VariantManagerContent.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/UnrealInsightsSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Synthesis.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Scalability.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/RuntimeOptions.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/PostSplashScreen.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/PhysXVehicles.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Paper2D.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/OculusVR.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Niagara.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/MotoSynth.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/MagicLeapLightEstimation.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/MagicLeap.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Lightmass.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Input.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Hardware.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/GameUserSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Game.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Engine.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Editor.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/DeviceProfiles.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/Windows/Compat.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Config/CrashReportClient/UE4CC-Windows-4D78BA094E251A87C6C8418C55D35471/CrashReportClient.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/AutoScreenshot.png
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/PackageRestoreData.json
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto7.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto6.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto5.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto4.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto3.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto2.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/VehicleCPP/Maps/VehicleExampleMap_Auto1.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Vehicle/PlayerVehicle_Auto4.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Vehicle/PlayerVehicle_Auto3.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Vehicle/PlayerVehicle_Auto2.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Vehicle/PlayerVehicle_Auto1.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Goal/Goal_Auto5.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Geometry/Materiales/Ramp_Material1_Auto3.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Geometry/Materiales/BaseMaterial_2_Auto3.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/BluePrints/Ball1_Auto6.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/BluePrints/Ball1_Auto4.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/BluePrints/Ball1_Auto3.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/BluePrints/Ball1_Auto2.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Ball/BP_Physics_Auto1.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Ball/BP_Ball_Auto5.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Ball/BP_Ball_Auto4.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Saved/Autosaves/Game/Ball/BP_Ball_Auto3.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/TargetInfo.json
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/ReimportCache/3688439234.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/CachedAssetRegistry.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/Timestamp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/FloatingActor.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/FloatingActor.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectWheelRear.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectWheelRear.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectWheelFront.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectWheelFront.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectPawn.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectPawn.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectHud.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectHud.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectGameMode.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectGameMode.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProjectClasses.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/EDDProject.init.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/Ball.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/Ball.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/AGoal.generated.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Inc/EDDProject/AGoal.gen.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.suppressed.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.lib.response.old
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.lib.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.dll.response.old
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject.dll.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-9906.suppressed.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-9906.lib.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-9906.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-9906.dll.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-0474.suppressed.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-0474.lib.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-0474.exp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/UE4Editor-EDDProject-0474.dll.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/LiveCodingInfo.json
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/FloatingActor.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/FloatingActor.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/FloatingActor.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/FloatingActor.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelRear.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelRear.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelRear.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelRear.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelFront.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelFront.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelFront.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectWheelFront.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectPawn.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectPawn.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectPawn.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectPawn.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectHud.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectHud.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectHud.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectHud.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectGameMode.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectGameMode.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectGameMode.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProjectGameMode.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProject.init.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProject.init.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProject.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/EDDProject.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Definitions.EDDProject.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Default.rc2.res
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Ball.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Ball.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Ball.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/Ball.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/AGoal.gen.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/AGoal.gen.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/AGoal.cpp.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/EDDProject/AGoal.cpp.obj.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/UE4Editor/Development/ActionHistory.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Metadata.dat
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Metadata-HotReload.dat
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Makefile.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/HotReload.state
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch.response
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/EDDProjectEditor.uhtpath
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/EDDProjectEditor.uhtmanifest
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/EDDProjectEditor.deps
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/DependencyCache.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/EDDProjectEditor/Development/ActionHistory.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/Win64/ActionHistory.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/SourceFileCache.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/Build/BuildRules/EDDProjectModuleRulesManifest.json
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/f5a6bf59.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/f48a6f54.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/f0d5030c.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/eda1cc9f.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/eb847947.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/e3799fc9.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/dd95a57c.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/db6fd95f.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/da466883.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/d859983c.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/d6c30b77.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/d63b3057.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/cc8b2eeb.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/c7636091.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/aefc89b2.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/ae8a653c.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/acb7d973.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/a956e6c6.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/a4ead59c.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/a02d411d.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/9ef1fea2.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/9c1a1723.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/97fb7fda.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/8e9331e2.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/8c0e1344.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/8735bc92.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/866581fd.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/80507242.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/7b241018.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/7a832c95.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/7a742d77.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/797242a9.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/72829d68.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/701fbfce.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/6cd0fc73.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/6bead350.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/652019a1.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/64837c1e.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/600bbba9.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/5fda496b.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/5e25fef6.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/5c3ced97.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/58fb7916.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/52ed2538.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/50a675f9.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/4ef7d2cc.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/436dc09e.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/406297d9.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/38e1b05a.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/337060dd.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/309a8261.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/2ad2a7fd.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/2a2a9cdd.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/277e75d5.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/2657c409.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/244834b6.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/218409f6.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/1f683343.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/15caf019.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/14c0e6fa.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/14791375.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/11b06015.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/0d2284ea.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/0cc4af86.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/09b713d3.bin
Aldo Cruz/14_04_21/VehicleProjectBase/Intermediate/AssetRegistryCache/089bc3de.bin
Aldo Cruz/14_04_21/VehicleProjectBase/EDDProject.sln
Aldo Cruz/14_04_21/VehicleProjectBase/Content/VehicleCPP/Maps/VehicleExampleMap.umap
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Sedan_SkelMesh.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Sedan_Skeleton.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Sedan_PhysicsAsset.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Sedan_AnimBP.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_Wheels.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_Tires.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_TailLights.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_Plastic.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_Headlights.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan_Inst_Glass.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Sedan/Materials/M_Vehicle_Sedan.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Meshes/WhiteMaterial.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Meshes/RoughTerrain_StaticMesh.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Meshes/GrayMaterial.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Vehicle/Meshes/BaseMaterial.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Goal/Goal.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Meshes/CubeMaterial.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Meshes/1M_Cube.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Materiales/Ramp_Material.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Materiales/MaterialSorround1.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Materiales/MaterialSorround.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Materiales/GoalMaterial1.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Geometry/Materiales/GoalMaterial.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/BluePrints/Sugoi_Instance.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/BluePrints/Ball1.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Ball/BP_Physics.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Content/Ball/BP_Ball.uasset
Aldo Cruz/14_04_21/VehicleProjectBase/Binaries/Win64/UE4Editor.modules
Aldo Cruz/14_04_21/VehicleProjectBase/Binaries/Win64/EDDProjectEditor.target
